<% form_for @order do |f| %>
  <%= f.error_messages %>
  <% if @order.express_token.blank? %>
    ...
  <% else %>
    <%= f.hidden_field :express_token %>
    
    <p>TODO Display order confirmation details</p>
  <% end %>
  <p><%= f.submit "Complete Order" %></p>
<% end %>