<FORM METHOD=POST ACTION= "new">
If you have a coupon code please enter it here: 
<INPUT TYPE=HIDDEN NAME="company_id" VALUE="<%= @company_id %>">
<INPUT TYPE=TEXT NAME="coupon"> <br>
<INPUT TYPE=SUBMIT VALUE="Continue">  
</FORM>

